PORT=4000
MONGODB_URI=mongodb://localhost:27017/CBTIS051
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
NOTIFICATION_RETENTION_DAYS=30

JWT_SECRET=genera_un_secret_largo_y_seguro_aqui
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@dominio.com
EMAIL_PASS=tu_contraseña_de_aplicacion
EMAIL_FROM_NAME=Sistema CBTIS051
EMAIL_FROM_ADDRESS=tu_correo@dominio.com
FRONTEND_URL=http://localhost:4000
NODE_ENV=development
